body{
      margin: 0px;
      background-color: black;
      color:#ccc;
}
.nav-link{
      font-size: 18px;
}
.topo{
      background-color:rgba(0,0,0,0.60);
      width: 100vw;
      height: auto;
      border: solid 2px grey;
      position: fixed;
      z-index: 9999;
}
.pad{
      padding:24px;
      border: solid 0px white;
      background: rgba(0,0,0,0.0);;
}
.abrand{
      border:grey solid 0px ;
      background-color:black;
      position:absolute;
      padding:0px;
      z-index:99;
      float: left;
      height: 130px;
      width: 180px;
      top:-20px;
}
.img-logo{
    width: 100vw;
    height: 100vw;
}
.nav-left{
    left: 230px;
    border: solid 0px grey;
    position:relative;
}
.margin-carousel{
    margin-top: 30px;
    border: solid 0px green;
}
.left-banner{
    text-align: left;
    font-size: 2.8em;
}
.texto-banner{
    font-size: 22px;
    text-align: left;
}
.texto-pb{
    color: black;
}
.shadow-p{
     text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px grey;
}
.shadow-b{
    text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px grey;
}
.barra-black{
    /*width: 100vw;*/
    padding-top: 40px;
    color: white;
    background-color: black;
}
.block-opt{
    padding-top: 40px;
    color: white;
    background-color: black;
}
.grey-linetop{
    border-top: #333333 1px solid;
}
.grey-line{
    border: #666666 1px solid;
}
.home{
    border-bottom: white 1px solid;

}
.div-pad{
    margin-top:2px;
    padding: 10px;
    border-top: red 1px solid;
}
.fix{

}
.empresa{
    padding: 150px 0px 40px 0px;
    background-image: url("../image/topoempresaa.png");
    border: 0px dashed grey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 80vw;
}
#empresa{
    padding-top: 150px;
    border-top: red 0px solid;
}
.servico{
    padding: 150px 0px 40px 0px;
    background-image: url("../image/toposervice.png");
    border: 0px dashed grey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 80vw;
}
#servico{
    padding-top: 150px;
    border-top: red 0px solid;
}
.orcamento{
    padding: 150px 0px 40px 0px;
}
#orcamento{
    padding-top: 150px;
    border-top: red 0px solid;
}
.localizacao{
    padding: 150px 0px 40px 0px;
}
#localizacao{
    padding-top: 150px;
    border-top: red 0px solid;
}
.contato{
    padding: 150px 0px 150px 0px;
}
#contato{
    padding-top: 150px;
    border-top: red 0px solid;
}
.bg-trans{
    background-color: rgba(0,0,0,0.35);
}
.map{
    width:100vw;
    height:440px;
}
.point{
    border:1px white solid;
}
